@import "reset.css";
@import "layout.css";

:root {
  /* Farver */
  --color-primary: #5a6b3b;
  --color-secondary: #3c1518;
  --color-background: #f7f5ea;
  --text-color: #3c1518;

  /* Skrifttyper og vægt */
  --font-family-base: "Poppins", sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 400;
  --font-weight-regular: 300;

  /* Typografi – mobil*/
  --font-size-h1: 2.2rem;
  --font-size-h2: 1.5rem;
  --font-size-p: 1rem;
}

/* Desktop typografi*/
@media (min-width: 768px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.2rem;
    --font-size-p: 1rem;
  }
}

html {
  font-size: 17px; /* Mindre end standard 16px */
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
  color: var(--text-color);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

h2 {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h2);
  color: var(--text-color);
  margin-bottom: 0.2rem;
}

p {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-p);
  color: var(--text-color);
}
