---
import MainLayout from "../layouts/MainLayout.astro";
import EventCard from "../components/EventCard.astro";

const url = "https://cqlxxfhyqiyjfdhrylvn.supabase.co/rest/v1/events";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxbHh4Zmh5cWl5amZkaHJ5bHZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc3NDEwNTUsImV4cCI6MjA2MzMxNzA1NX0.dSKgfRJPrjOBnTq3LxqGMrMSXYqe-BQoGV1IjmFRWgk";

const options = {
  headers: {
    apikey: key,
  },
};

const request = await fetch(url, options);
const data = await request.json();

console.log("data", data);
---

<MainLayout title="home">
  <section class="event_side">
    <div class="overskrift">
      <h1>Kommende Events</h1>
      <p class="event_h2">På pio åbner vi dørerne op for...</p>
    </div>

    <div class="events">
      {
        data.map((event) => {
          return <EventCard data={event} />;
        })
      }
    </div>
  </section>
</MainLayout>

<style>

  .event_h2{
    margin-top: -2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }
  .tekst{
    padding-bottom:1rem;
  }
  .overskrift {
    display: grid;
    justify-items: center;
    color: #3c1518;

    padding-bottom: 2rem;
  }

  .section {
    padding: 1rem;
  }
  .events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding-left: 1rem;
    }
 

  @media (min-width: 600px) {
    .events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
    padding-left: 1rem;
  }
  }
</style>
