---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import MenuKort from "../components/MenuKort.astro";

import EventCard from "../components/EventCard.astro";

const url = "https://cqlxxfhyqiyjfdhrylvn.supabase.co/rest/v1/events";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxbHh4Zmh5cWl5amZkaHJ5bHZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc3NDEwNTUsImV4cCI6MjA2MzMxNzA1NX0.dSKgfRJPrjOBnTq3LxqGMrMSXYqe-BQoGV1IjmFRWgk";

const options = {
  headers: {
    apikey: key,
  },
};

const request = await fetch(url, options);
const data = await request.json();

console.log("data", data);
---

<MainLayout>
  <section class="hero">
    <video class="hero_video" autoplay loop muted playsinline>
      <source src="/videos/piomontage.webm" type="video/webm" />
    </video>
    <div class="hero-overlay">
      <div class="hero-illu-wrapper">
        <img class="hero_illu" src="/illustrations/hero_illu.svg" alt="hero_illu" />
        <div class="hero-content">
          <h1 class="hero_h1">Pio Vinbar</h1>
          <p class="hero_p">Bagerstræde 2, 1617 København V Reservér bord på +45 53 54 64 55</p>
        </div>
      </div>
    </div>
  </section>

  <div></div>

  <section class="grid1_1 menu_grid">
    <img class="menucard_pic" src="/images/menucard_pic.webp" alt="menukort_billede" />
    <div>
      <h2>Åbningstider</h2>
      <div class="open">
        <div class="dage">
          <p>Man-Tors:</p>
          <p>Fre-Lør:</p>
          <p>Søn:</p>
        </div>
        <div class="tider">
          <p>16:00-00:00</p>
          <p>14:00-00:00</p>
          <p>14:00-22:00</p>
        </div>
      </div>
    </div>
    <img src="/illustrations/wineset_illu.svg" alt="" class="wineset" />
  </section>

  <section id="menukortet">
    <h2 class="menukort">Menukort</h2>
    <div class="relativ">
      <img src="/illustrations/olives_illu.svg" alt="" class="olives" />
    </div>
    <MenuKort />
  </section>

  <div class="mad_billeder">
    <img src="/images/prawns_pic.webp" alt="" class="img_1" />
    <img src="/images/light_pic.webp" alt="" class="img_2" />
    <img src="/images/olives_pic.webp" alt="" class="img_3" />
  </div>

  <section>
    <div class="con_amore">Con Amore</div>
    <div class="grid1_1">
      <img src="/images/people_frame_pic.webp" alt="" class="people_img" />
      <p>Hos Pio har vi fokus på vores gæsters oplevelser, når de besøger os. Vi ønsker at skabe et rum, hvor der er plads til afslappet hygge i behagelige omgivelser, hvor vi lægger vægt på at præsentere gode produkter med kærlighed og lidenskab. Vi tror på, at venlighed og smil giver alle den bedste oplevelse. Vores nøgleord er hygge, atmosfære, intimitet, varme og relationer. Og vi håber at vi lever op til dem.</p>
    </div>
  </section>

  <section>
    <h2 class="event_h2">Kommende Events</h2>
    <div class="events">
      {
        data.slice(0, 3).map((event) => {
          return <EventCard data={event} />;
        })
      }
    </div>

    <div class="event_knap">
      <Button href="/event_site" text="Se flere" />
    </div>
  </section>

  <style>
    .menukort {
      text-align: center;
      padding-top: 4rem;
    }

    .event_knap {
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .relativ {
      position: relative;
    }

    .olives {
      position: absolute;
      position: absolute;
      top: -40px;
      left: -7%;
      width: 20%;
    }
    .hero_illu {
      position: absolute;
      background-size: cover;
      top: 7%;
      width: 100%;
    }
    .hero-content {
      position: absolute;
      top: 70vw;
      left: 5vw;
      z-index: 2;
    }
    h1 {
      margin: 0;
      padding: 0;
      text-align: left;
    }
    .hero_p {
      max-width: 17rem;
    }

    .menucard_pic {
      margin-bottom: 2rem;
    }

    .event_h2 {
      display: grid;
      justify-content: center;
      padding-bottom: 2rem;
      padding-top: 4rem;
    }
    .events {
      display: grid;
      gap: 2rem;
    }
    .people_img {
      padding-bottom: 2rem;
    }
    .con_amore {
      font-family: "Caveat";
      font-size: 4rem;
      color: #5a6b3b;
      display: grid;
      justify-content: center;
      padding-top: 3rem;
      padding-bottom: 0rem;
    }

    .wineset {
      width: 40%;
    }

    .mad_billeder {
      display: grid;
      gap: 2rem;
      padding-top: 3rem;
    }

    .hero {
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
    }

    .hero_video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .hero_tekst {
      position: absolute;
      z-index: 2;
      top: 72%;
      left: 15.2%;
    }

    .illustration-right {
      position: absolute;
      z-index: 1;
      top: 15%;
      width: 33%;
      left: 71%;
    }
    .menu_grid {
      margin-top: 10rem;
    }
    .open {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .mad_billeder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      padding-top: 3rem;
    }
    .img_1 {
      margin-top: 1rem;
    }
    .img_2 {
      margin-top: 3rem;
      width: 100%;
    }

    @media (min-width: 800px) {
      .olives {
        position: absolute;
        top: -81px;
        left: -3%;
        width: 10%;
      }
      .hero_illu {
        position: absolute;
        background-size: cover;
        top: -15%;
        width: 100%;
      }
      .hero-content {
        position: absolute;
        top: 42vw;
        left: 15vw;
        z-index: 2;
      }
      h1 {
        margin: 0;
        padding: 0;
        text-align: left;
      }
      .hero_p {
        max-width: 17rem;
      }

      .grid1_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        position: relative;
        margin-top: 0;
      }

      .wineset {
        position: absolute;
        width: 14%;
        top: 55%;
        left: 87%;
      }

      .mad_billeder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        padding-top: 8rem;
      }

      .img_2 {
        margin-top: 6rem;
      }
      .con_amore {
        font-family: "Caveat";
        font-size: 7rem;
        color: #5a6b3b;
        display: grid;
        justify-content: center;
        padding-top: 6rem;
        margin-bottom: 2rem;
      }

      .events {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
      }

      .event_h2 {
        display: grid;
        justify-content: center;
        padding-bottom: 2rem;
        padding-top: 4rem;
      }
    }
  </style>
</MainLayout>
