---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import MenuKort from "../components/MenuKort.astro";

import EventCard from "../components/EventCard.astro";

const url = "https://cqlxxfhyqiyjfdhrylvn.supabase.co/rest/v1/events";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxbHh4Zmh5cWl5amZkaHJ5bHZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc3NDEwNTUsImV4cCI6MjA2MzMxNzA1NX0.dSKgfRJPrjOBnTq3LxqGMrMSXYqe-BQoGV1IjmFRWgk";

const options = {
  headers: {
    apikey: key,
  },
};

const request = await fetch(url, options);
const data = await request.json();

console.log("data", data);
---

<MainLayout>
  <section class="hero">
    <video class="hero_video" autoplay loop muted playsinline>
      <source src="/videos/piomontage.webm" type="video/webm" />
    </video>

    <!-- <div class="hero-overlay">
      <img class="illustration-left" src="/illustrations/hero_vin_illu_2.svg" alt="" />

      <div class="hero-content">
        <h1 class="hero_h1">Pio Vinbar</h1>
        <p class="hero_p">Bagerstræde 2, 1617 København V Reservér bord på +45 53 54 64 55</p>
      </div> -->

    <div class="hero-overlay">
      <div class="hero-illu-wrapper">
        <img class="illustration-left" src="/illustrations/hero_vin_illu_2.svg" alt="" />
        <div class="hero-content">
          <h1 class="hero_h1">Pio Vinbar</h1>
          <p class="hero_p">Bagerstræde 2, 1617 København V Reservér bord på +45 53 54 64 55</p>
        </div>
      </div>

      <img class="illustration-right" src="/illustrations/ny_hero_vin.svg" alt="" />
    </div>

    <!-- <img class="illustration-right" src="/illustrations/hero_vinglas_illu.svg" alt="" /> -->
  </section>

  <div></div>

  <section class="grid1_1">
    <img src="/images/menucard_pic.webp" alt="" />
    <div>
      <h2>Åbningstider</h2>
      <div class="open">
        <div class="dage">
          <p>Man-Tors:</p>
          <p>Fre-Lør:</p>
          <p>Søn:</p>
        </div>
        <div class="tider">
          <p>16:00-00:00</p>
          <p>14:00-00:00</p>
          <p>14:00-22:00</p>
        </div>
      </div>
    </div>
    <img src="/illustrations/wineset_illu.svg" alt="" class="wineset" />
  </section>

  <MenuKort />

  <div class="mad_billeder">
    <img src="/images/prawns_pic.webp" alt="" class="img_1" />
    <img src="/images/light_pic.webp" alt="" class="img_2" />
    <img src="/images/olives_pic.webp" alt="" class="img_3" />
  </div>

  <section>
    <div class="con_amore">Con Amore</div>
    <div class="grid1_1">
      <img src="/images/people_frame_pic.webp" alt="" class="people_img" />
      <p>Hos Pio har vi fokus på vores gæsters oplevelser, når de besøger os. Vi ønsker at skabe et rum, hvor der er plads til afslappet hygge i behagelige omgivelser, hvor vi lægger vægt på at præsentere gode produkter med kærlighed og lidenskab. Vi tror på, at venlighed og smil giver alle den bedste oplevelse. Vores nøgleord er hygge, atmosfære, intimitet, varme og relationer. Og vi håber at vi lever op til dem.</p>
    </div>
  </section>

  <section>
    <h2 class="event_h2">Kommende Events</h2>
    <div class="events">
      {
        data.slice(0, 3).map((event) => {
          return <EventCard data={event} />;
        })
      }
    </div>
    <Button />
  </section>
</MainLayout>

<style>
  .event_h2 {
    display: grid;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 4rem;
  }
  .events {
    display: grid;
    gap: 2rem;
  }
  .people_img {
    padding-bottom: 2rem;
  }
  .con_amore {
    font-family: "Caveat";
    font-size: 4rem;
    color: #5a6b3b;
    display: grid;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  .wineset {
    width: 40%;
  }

  .mad_billeder {
    display: grid;
    gap: 2rem;
    padding-top: 3rem;
  }

  .hero {
    /* margin-inline: -10rem; trækker den ud */
    /* width: calc(100% + 20rem); fylder ud over padding */
    /* position: relative;
    overflow: hidden; */

    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }

  .hero_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .illustration-left {
    position: absolute;
    z-index: 1;
    top: 44%;
    width: 145%;
    left: -21%;
  }

  .hero-content {
    /* position: absolute;
    z-index: 2;
    top: 70%;
    width: 131%;
    left: -22%; */
  }

  .hero_tekst {
    position: absolute;
    z-index: 2;
    top: 72%;
    left: 15.2%;
  }

  .illustration-right {
    position: absolute;
    z-index: 1;
    top: 48%;
    width: 12%;
    left: 71%;
  }

  .open {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 750px) {
    .hero_h1 {
      margin-bottom: -1rem;
      text-align: left;
    }

    .hero_p {
      max-width: 17rem;
    }
    .hero {
      margin-inline: -10rem; /* trækker den ud */
      width: calc(100% + 20rem); /* fylder ud over padding */
      position: relative;
      overflow: hidden;
    }

    .hero_video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .illustration-left {
      background-size: cover;
      position: absolute;
      z-index: 1;
      top: 64%;
      width: 145%;
      left: -21%;
    }

    .hero-content {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 73%;
      left: 23%;
      z-index: 2;
      margin-left: auto;
    }

    .hero_tekst {
      position: absolute;
      z-index: 2;
      top: 72%;
      left: 15.2%;
    }

    .illustration-right {
      position: absolute;
      z-index: 1;
      top: 15%;
      width: 33%;
      left: 71%;
    }

    .grid1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      position: relative;
      padding-bottom: 3rem;
    }

    .wineset {
      position: absolute;
      width: 14%;
      top: 55%;
      left: 62%;
    }

    .mad_billeder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      padding-top: 8rem;
    }

    .img_2 {
      margin-top: 6rem;
    }
    .con_amore {
      font-family: "Caveat";
      font-size: 7rem;
      color: #5a6b3b;
      display: grid;
      justify-content: center;
      padding-top: 4rem;
    }

    .events {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5rem;
    }

    .event_h2 {
      display: grid;
      justify-content: center;
      padding-bottom: 2rem;
      padding-top: 4rem;
    }
  }
</style>
