---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Kontakt</h1>

  <div class="section1">
    <div class="grid_1-1">
      <div class="boxfacade">
        <img class="facadeillu" src="/illustrations/piofacadefed_illu.svg" alt="facade" />
      </div>
      <div class="infobox">
        <div class="info">
          <div class="info">
            <h2>Adresse</h2>
            <p>Bagerstræde 2, 1617 København V</p>
          </div>
          <h2>Åbningstider</h2>
          <p>
            <div class="grid_1-1_ugedage">
              <div>
                <p>
                  Man-Tors:<br />
                  Fre-Lør: <br />
                  Søn:
                </p>
              </div>

              <div>
                <p>
                  16:00-00:00<br />
                  14:00-00:00<br />
                  14:00-22:00
                </p>
              </div>
            </div>
          </p>
        </div>
        <div class="info">
          <h2>Kontakt</h2>
          <p>+45 53 54 64 55<br />piovin@piovin.dk</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section2">
    <div>
      <h2>Booking</h2>
      <p class="bookingtekst">Du kan altid booke bord til en middag eller et glas vin hos os. Ring i barens åbningstid på +45 53 54 64 55 eller skriv til piovin@piovin.dk. <br /> <br /> Planlægger du en fødselsdag, barnedåb, vinsmagning eller et andet arrangement? Vi stiller gerne vinbaren til rådighed kontakt os, så finder vi den rette løsning. <br /> <br />Har du yderligere spørgsmål, hjælper vi gerne.</p>
    </div>

    <img class="oisterillu" src="/illustrations/oister_illu.svg" alt="facade" />
  </div>
</MainLayout>

<style>
  .grid_1-1_ugedage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13rem;
  }

  .ugedage {
    max-width: 16rem;
  }

  .boxfacade {
    /* position: relative; */
    display: flex;
    justify-content: flex-end; /* Skubber billedet helt til højre */
    align-items: center; /* (valgfrit) centrerer vertikalt */
  }

  .facadeillu {
    /* width: 75%; */
    /* width: 250px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-78%); erstatter left: -40% */
  }

  .infobox {
    /* padding-top: 2rem; */
  }

  .info {
    padding-bottom: 2rem;
  }

  .boxoister {
    position: relative;
  }

  .oisterillu {
    opacity: 40%;
    z-index: -1;
    width: 90%;
    margin-left: auto;
  }

  .bookingtekst {
    max-width: 33ch;
  }

  .section1 {
    margin-bottom: 10rem;
  }

  @media screen and (min-width: 800px) {
    main {
      padding-inline: 15rem;
      max-width: 1200px;
    }

    .facadeillu {
      /* width: 400px;
      position: absolute;
      top: 0%;
      left: 70%;
      transform: translateX(-90%);
      justify-self: end; */
    }

    .bookingtekst {
      max-width: 60ch;
    }

    .info {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }

    .infobox {
      /* margin-left: 5rem; */
    }

    .section1 {
      margin-bottom: 12rem;
    }

    .section2 {
      /* margin-bottom: 25rem;
      margin-left: 2.5rem; */
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
