---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Mød Pio Vinbar</h1>
  <div class="video_box">
    <video autoplay loop muted playsinline>
      <source src="./videos/piomontage.webm" type="video/webm" />
      Din browser understøtter ikke video-tagget.
    </video>
  </div>
  <img class="frame" src="./illustrations/frame_illu.svg" alt="frame" />

  <div></div>

  <div class="grid_1-1 amore">
    <div>
      <h2 class="who">Hvem er vi?</h2>
      <p class="amore_text">Pio Vinbar blev grundlagt i 2017 af Jesper og Anders med ønsket om at skabe et hjemligt sted at samles med venner. <br /><br />I dag byder Pio Vinbar på en hyggelig og autentisk atmosfære, hvor det handler om at skabe relationer og nyde den gode stemning. Hos Pio Vinbar kan man sænke paraderne og være sig selv i et uformelt, hjemligt miljø. <br /><br />Bag Pio Vinbar er ejerne Jesper, Anders, Kaare og Phillip, som alle deler en fælles passion for vin. I dag er vi stolte af at have et dedikeret og erfarent team af søde og passionerede medarbejdere, der hver dag arbejder for at give vores gæster den bedste oplevelse.</p>
      <img class="can" src="./illustrations/can_illu.svg" alt="can" />
    </div>
    <img src="./images/con_amore_pic.webp" alt="people" />
  </div>

  <div class="grid_1-1 name_text">
    <div class="wine_box">
      <img class="wine" src="./illustrations/wine_illu.svg" alt="wine" />
    </div>
    <div class="last_text">
      <h2>Hvor kommer navnet fra?</h2>
      <p>Navnet Pio Vinbar er en hyldest til Pio Vinhandel, der blev grundlagt på Østerbro i 1881. Da det gamle inventar fra vinhandlen skulle fjernes, besluttede Kaare at han ville bevare det, og opbevare det på sin gård. <br /><br />Han delte idéen med Jesper, og sammen med Anders blev Pio Vinbar til. Baren åbnede den 24. november 2017, og senere blev Phillip den fjerde ejer. <br /><br />I dag er de gamle vinreoler fra Pio Vinhandel igen fyldt med vin, men denne gang som en del af Pio Vinbar, og det glæder vi os virkelig over.</p>
    </div>
  </div>

  <style>
    video {
      max-width: 95%;
      border-radius: 15px;
    }
    .frame {
      position: absolute;
      width: 80%;
      top: 24%;
      left: 15%;
    }
    .video_box {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;
      margin-top: -1rem;
      margin-bottom: 5rem;
    }

    .can {
      display: none;
    }

    .wineset {
      display: none;
    }

    .grid_2-1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    .amore_text {
      padding-bottom: 2rem;
    }

    .amore {
      margin-bottom: 5rem;
    }
    .name_text {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    @media screen and (max-width: 800px) {
      h2 {
      }
      .wine_box {
        position: relative;
      }
      .wine {
        width: 290px;
        position: absolute;
        transform: translate(-50%, -40%);
      }
    }

    @media screen and (min-width: 800px) {
      video {
        max-width: 80%;
        border-radius: 15px;
      }
      .frame {
        position: absolute;
        width: 63%;
        top: 31%;
        left: 22%;
      }
      .video_box {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        margin-bottom: 13rem;
      }
      h2 {
        text-align: left;
      }
      .pio_text {
        padding-top: 0rem;
      }
      .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
      }
      .can {
        max-width: 150px;
        display: block;
        margin-left: auto;
        margin-right: -1rem;
        margin-top: -1rem;
      }
      .wine {
        max-width: 350px;
      }
      .name_text {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }
      .last_text {
        max-width: 60ch;
      }
    }
  </style>
</MainLayout>
