---

---

<section>
  <hr />
  <details>
    <summary><div>Vinkort</div> <div class="plus">+</div></summary>
    <div class="menu_overskrift_2">Mousserende</div>
    <div class="menu-item">2020 Diefenhardt Riesling Brut / Rheingau / 12% / 400,-</div>
    <div class="menu-item">Vita Vivet Cava / Penedès / Spanien / Øko / 425,-</div>
    <div class="menu-item">Deshora Cava Brut / Valencia / Spanien / Øko / 425,-</div>
    <div class="menu-item">2021 Joan Rubio Ancestral Monastrell / Penedès / Spanien / Naturvin / 500,-</div>
    <div class="menu-item">2021 Joan Rubio Ancestral Sumoll / Penedès / Spanien / Naturvin / 500,-</div>
    <div class="menu-item">2023 Marco Barba Barbolla Colfondo / Veneto / Italien / Naturvin / 500,-</div>
    <div class="menu-item">Rarefratte Còle Frizzante Bianco / Veneto / Italien / Gruaja / 12,5% / Naturvin / 575,-</div>
    <div class="menu-item">2021 Dakishvili Kisi, Family Sparkling Pet-Nat / Kakheti / Georgien / Kisi / 13,5% / Naturvin / 625,-</div>
    <div class="menu-item">2022 Vinhos Aparte Ambar Grape Tonic Pet Nat / Lissabon / Portugal / Naturvin / 650,-</div>
    <div class="menu-item">Domaine Alice Hartmann Brut Rosé / Grevenmacher / Luxembourg / Pinot Noir / 13% / 675,-</div>

    <div class="menu_overskrift_2">Champagne</div>
    <div class="menu-item">Laurent Lequart, Rosé Andésyne Brut / 500,-</div>
    <div class="menu-item">2012 Laurent Lequart, Millésime / 1150,-</div>
    <div class="menu-item">Champagne Richard Cheurlin Carte Or Brut / 800,-</div>
    <div class="menu-item">2020 Remy Massin Tradition Pinot Blanc / 800,-</div>
    <div class="menu-item">2015 Remy Massin Louis Aristide Pinot Noir / 1265,-</div>
    <div class="menu-item">Champagne Collet Brut / 775,-</div>
    <div class="menu-item">2016 Champagne Collet Brut Milésime / 1200,-</div>
    <div class="menu-item">2022 Marc Hebrat A Mareuil Sur Aÿ Premier Cru Sélection / 900,-</div>
    <div class="menu-item">2022 Marc Hebrat Blanc de Blancs / 950,-</div>
    <div class="menu-item">2022 Marc Hebrat Mes Favorites / 1000,-</div>
    <div class="menu-item">2018 Marc Hebrat Special Club / 2600,-</div>
    <div class="menu-item">2017 Marc Hebrat Special Club Magnum / 5000,-</div>

    <div class="menu_overskrift_2">Rosé</div>
    <div class="menu-item">2021 Domaine Guillaman / Gascogne / 350,-</div>
    <div class="menu-item">2021 Sérre De Guery / Languedoc / 375,-</div>
    <div class="menu-item">2021 Malmont Rosé Grenache, Syrah / Côtes du Rhône / 400,-</div>
    <div class="menu-item">2023 Vivonne Rosé / Côtes de Provence / Øko / 450,-</div>
    <div class="menu-item">2018 Schmelzer Zauber des Verzichts Spätburgunder Rosé / Østrig / Naturvin / 575,-</div>
    <div class="menu-item">2022 La Tri Fontoj Pepe Mouvèdre / Roussillon / Naturvin / 550,-</div>
    <div class="menu-item">2022 Domaine André Vatan / Sancerre / Loire / 550,-</div>

    <div class="menu_overskrift_2">Hvidvin / White Wine / Orange</div>

    <div class="menu_overskrift">Italien / Italy</div>
    <div class="menu-item">2022 Cantina Orsogna Pecorino Orange / Sicilien / Naturvin / 450,-</div>
    <div class="menu-item">2020 Passobianco Chardonnay Terra Siciliane / Sicilien / 550,-</div>
    <div class="menu-item">2018 Zýmé From Black to White / Veneto / 350,-</div>
    <div class="menu-item">2021 Cantina Anne-Santi Fonte Farro Grechetto / Umbrien / Naturvin / 450,-</div>
    <div class="menu-item">2022 Rosset Terroir Petit Arvine / Vallée D’Aoste / 475,-</div>
    <div class="menu-item">2022 Rosset Terroir Chardonnay 770 / Vallée d’Aoste / 800,-</div>
    <div class="menu-item">2021 Villa Job Piantagrane Pinot Grigio Orange / Friuli / Naturvin / 550,-</div>
    <div class="menu-item">Rarefratte Vespaiolo / Veneto / Naturvin / 625,-</div>
    <div class="menu-item">2021 Tenuta L'armonia Triplo Sette Chardonnay, Chenin blanc / Veneto / 650,-</div>
    <div class="menu-item">2019 Giovanni Menti Riva Arsiglia Gargenega / Veneto / Naturvin / 525,-</div>

    <div class="menu_overskrift">Spanien / Spain</div>
    <div class="menu-item">2022 Alba de Miros Verdejo / Rueda / 375,-</div>
    <div class="menu-item">2021 La Casa de Las Locas Albarino / Riax Baixas / 400,-</div>
    <div class="menu-item">2021 La Casa de Las Locas Treixadura / Ribeiro / 475,-</div>
    <div class="menu-item">2022 Joan Rubio La Petita / Penedès / Naturvin / 375,-</div>
    <div class="menu-item">2021 Joan Rubio Essencial Xarel-lo Orange / Penedès / Naturvin / 450,-</div>
    <div class="menu-item">2015/17 Joan Rubio Obstinat Xarel-lo Orange / Penedès / Naturvin / 525,-</div>
    <div class="menu-item">2021 Bodegas Vegalfaro Pago de Los Balagueses Chardonnay / Valencia / 675,-</div>

    <div class="menu_overskrift">Portugal</div>
    <div class="menu-item">2021 Anselmo Mendes Muros Antigos Escolha / Minho / 350,-</div>
    <div class="menu-item">2021 Anselmo Mendes Alvarinho / Monção and Melgaço / 400,-</div>
    <div class="menu-item">2021 Vinhos Aparte Ambar / Lisboa / Naturvin / 400,-</div>

    <div class="menu_overskrift">Frankrig / France</div>
    <div class="menu-item">2020 Domaine Sylvie Augereau Touraine Chenin / Loire / 350,-</div>
    <div class="menu-item">2021 Domaine André Vatan Sancerre / Loire / 600,-</div>
    <div class="menu-item">2021 Domaine André Vatan Pouilly Fumé / Loire / 650,-</div>
    <div class="menu-item">2021 Domaine Pellé L’Effrontée Viognier / Rhône / 375,-</div>
    <div class="menu-item">2022 Domaine Guiberteau / Anjou / 400,-</div>
    <div class="menu-item">2020 Domaine Guiberteau / Anjou / 375,-</div>

    <div class="menu_overskrift">Østrig / Austria</div>
    <div class="menu-item">2022 Huber Grüner Veltliner / Kamptal / 350,-</div>
    <div class="menu-item">2022 Schmelzer Zauber des Verzichts Grüner Veltliner / Kamptal / Naturvin / 450,-</div>
    <div class="menu-item">2022 Schmelzer Zauber des Verzichts Grüner Veltliner Federspiel / Kamptal / Naturvin / 575,-</div>

    <div class="menu_overskrift">Grækenland / Greece</div>
    <div class="menu-item">2020 Gaia Thalassitis Assyrtiko / Santorini / 350,-</div>

    <div class="menu_overskrift">Georgien / Georgia</div>
    <div class="menu-item">2022 Dakishvili Kisi White / Kartli / Naturvin / 475,-</div>

    <div class="menu_overskrift_2">Rødvin / Red Wine</div>

    <div class="menu_overskrift">Italien / Italy</div>
    <div class="menu-item">2021 Tenuta L'armonia Vino Rosso Montepulciano, Merlot / Veneto / 375,-</div>
    <div class="menu-item">2022 Cantina Anne-Santi Fonte Farro Montepulciano / Umbrien / Naturvin / 475,-</div>
    <div class="menu-item">2021 Villa Job Piantagrane Pinot Noir / Friuli / Naturvin / 450,-</div>
    <div class="menu-item">2021 Zýmé Barabò Corvina, Rondinella, Molinara / Veneto / 600,-</div>

    <div class="menu_overskrift">Spanien / Spain</div>
    <div class="menu-item">2020 Casa del Valle Granacha / Murcia / 375,-</div>
    <div class="menu-item">2021 Joan Rubio La Petita Sumoll / Penedès / Naturvin / 400,-</div>
    <div class="menu-item">2022 Joan Rubio Essencial Monastrell / Penedès / Naturvin / 475,-</div>
    <div class="menu-item">2021 Joan Rubio Obstinat Monastrell / Penedès / Naturvin / 600,-</div>

    <div class="menu_overskrift">Frankrig / France</div>
    <div class="menu-item">2021 Domaine Pelle Le Petit Ardeche Rouge / Rhône / 400,-</div>
    <div class="menu-item">2020 Domaine André Vatan Bourgueil / Loire / 400,-</div>

    <div class="menu_overskrift">Østrig / Austria</div>
    <div class="menu-item">2022 Schmelzer Zauber des Verzichts Zweigelt / Østrig / Naturvin / 475,-</div>

    <div class="menu_overskrift">Georgien / Georgia</div>
    <div class="menu-item">2022 Dakishvili Saperavi / Kartli / Naturvin / 600,-</div>
  </details>
  <hr />
  <details>
    <summary><div>Glaskort</div> <div class="plus">+</div></summary>
    <div class="menu_overskrift">Mousserende / Sparkling Wine</div>
    <div class="menu-item">Spumante Buon Bosch / Glera / Vazzola / Italien 70 / 325</div>
    <div class="menu-item">Vita Vivet Cava / Macabeo, Xarel-lo / Parellada / Spanien (øko) 90 / 425</div>
    <div class="menu-item">Marco Barba “Barbolla” / Garganega / Veneto / Italien (natural) 100 / 500</div>
    <div class="menu-item">Remy Massin Tradition Blanc de Noir / Pinot Noir / Champagne / Frankrig 140 / 800</div>

    <div class="menu_overskrift">Hvid / White</div>
    <div class="menu-item">Domaine Guilliman / Sauvignon Blanc, Colombard / Languedoc / Frankrig 65 / 300</div>
    <div class="menu-item">Anselmo Mendes Escolha / Alvarinho, Loureiro, Avesso / Vinho Verde / Portugal 75 / 350</div>
    <div class="menu-item">Domaine des Trottières Clair de lune Chenin / Chenin Blanc / Anjou / Frankrig 80 / 400</div>
    <div class="menu-item">Serre De Guéry / Chardonnay / Languedoc / Frankrig (øko) 85 / 400</div>
    <div class="menu-item">Weingut Becker Landgraf / Weissburgunder / Rheinhessen / Tyskland 90 / 450</div>
    <div class="menu-item">Frank Faust Martinsthal Riesling / Riesling / Rheingau / Tyskland 90 / 450</div>
    <div class="menu-item">Ciclo Bianco / Antao Vaz & Arinto m.fl. / Alentejo / Portugal (natur) 100 / 500</div>
    <div class="menu-item">Domaine de la Tour “Chitry” / Chardonnay / Bourgogne / Frankrig 120 / 525</div>

    <div class="menu_overskrift">Rosé</div>
    <div class="menu-item">Domaine Guillaman Rosé / Cabernet Sauvignon, Merlot / Languedoc / Frankrig 65 / 300</div>

    <div class="menu_overskrift">Rød / Red</div>
    <div class="menu-item">St. Martin / Pinot Noir / Languedoc / Frankrig 65 / 300</div>
    <div class="menu-item">Domaine Mas Javal / Cinsault / Languedoc Roussillon / Frankrig (øko) 80 / 400</div>
    <div class="menu-item">Cuveé Pio Röt 1 L / St. Laurent / Rheinhessen / Tyskland (natur) 85/ 450</div>
    <div class="menu-item">Malmont Natur’ / Grenache, Syrah / Côtes Du Rhône / Frankrig (natur) 90 / 425</div>
    <div class="menu-item">Cuenta Ovejas ZzZ / Tempranillo Toro / Toro / Spanien 90 / 450</div>
    <div class="menu-item">Cantina Annesanti Sogno / Aleatico, Merlot / Umbrien / Italien (natur) 90 / 450</div>
    <div class="menu-item">Malmont Rouge / Syrah, Grenache / Côtes Du Rhône / Frankrig (øko) 100 / 475</div>
    <div class="menu-item">Alberto Burzi Langhe Nebbiolo / Nebbiolo / La Morra, Piemonte / Italien 120 / 500</div>
    <div class="menu-item">Tupinier Bautista Bourgogne Rouge / Pinot Noir / Bourgogne / Frankrig 125 / 525</div>

    <div class="menu_overskrift">Orange - all natural</div>
    <div class="menu-item">Cuveé Pio 1 Liter / Sylvaner / Rheinhessen / Tyskland 85 / 450</div>
    <div class="menu-item">Carl Koch Gewürztraminer / Gewürztraminer / Rheinhessen / Tyskland 95 / 475</div>
    <div class="menu-item">Baia ́s Winery / Tsitska, Tsolikouri / Imereti / Georgien 100 / 500</div>
    <div class="menu-item">Schmelzer / Frühroter Veltliner / Gols / Østrig 120 / 550</div>

    <div class="menu_overskrift">Avec, Spiritus & dessertvin</div>
    <div class="menu-item">Amaro Montenegro 35</div>
    <div class="menu-item">Pastis Avignon 75</div>
    <div class="menu-item">Nardini Grappa Riserva 85</div>
    <div class="menu-item">Calvados*** 85</div>
    <div class="menu-item">Highland Park 12 years 85</div>
    <div class="menu-item">Macallan 12 Years 95</div>
    <div class="menu-item">Sabs Marc de Bourgogne “Le Marc” 100</div>
    <div class="menu-item">Domaine Piétri Géraud Banyuls Traditionnel 2016 90</div>

    <div class="menu_overskrift">Drinks</div>
    <div class="menu-item">Barens Drink Spørg i baren</div>
    <div class="menu-item">Peach Spritz Mocktail (Gin 30,-) 65</div>
    <div class="menu-item">Limoncello Crema Tonic 75</div>
    <div class="menu-item">Gin Tonic - Roku Gin 90</div>
    <div class="menu-item">Gin Tonic - No. 3 London Dry 100</div>
    <div class="menu-item">Vermouth Tonic / Otto’s Athens Vermouth 90</div>
    <div class="menu-item">Vermouth Tonic / Antica Formula Vermouth 100</div>
    <div class="menu-item">Amara Tonic / Blood Orange Liqueur 95</div>
    <div class="menu-item">Rinomato Tonic / Rinomato Bitter Scuro 95</div>
    <div class="menu-item">Otto’s Special / Gin, Vermouth, Tonic 100</div>
    <div class="menu-item">Negroni / Gin, Vermouth, Rinomato 100</div>
    <div class="menu-item">Montenegroni / Gin, Vermouth, Amaro Montenegro 100</div>
    <div class="menu-item">Amara Spritz / Amara, Spumante, Perrier 125</div>

    <div class="menu_overskrift">Øl / Beer Stor / Fløjte</div>
    <div class="menu-item">Bryggerens Udvalgte - spørg i baren 60 / 30</div>
    <div class="menu-item">Birra Moretti 55 / 30</div>
    <div class="menu-item">Depanneur New England IPA “Solstrejf” 60 / 30</div>
    <div class="menu-item">Depanneur Pilsner “Bajeur” 60 / 30</div>
    <div class="menu-item">To Old to Die Young Lime Infused Pilsner 65 / 35</div>

    <div class="menu_overskrift">Alkoholfrie Drikkevare / Non Alcoholic Beverages</div>
    <div class="menu-item">Rothaus Tannenzäpfle Pilsner 0,5 % alk. 40</div>
    <div class="menu-item">To Øl Implosion 0,3 % alk. 50</div>
    <div class="menu-item">Alkoholfri Vin Spørg i baren</div>

    <div class="menu_overskrift">Sodavand & Danskvand / Soda & Sparkling Water</div>
    <div class="menu-item">San Pellegrino 32</div>
    <div class="menu-item">(Melograno & Arancia, Limonata, Aranciata, Pompelmo)</div>
    <div class="menu-item">Coca Cola 30</div>
    <div class="menu-item">Coca Cola Zero 30</div>
    <div class="menu-item">Perrier Lille 32</div>
    <div class="menu-item">Perrier Stor 52</div>
  </details>
  <hr />
  <details>
    <summary><div>Madkort</div><div class="plus">+</div></summary>
    <div class="menu_overskrift">Mad & Snacks / Food & Snacks</div>
    <div class="menu-item">Charcuteri & Ostebræt m. brød - 225,-(+ 200,- pr. ekstra person)</div>
    <div class="menu-item">Ostebræt m. brød - 165,-</div>
    <div class="menu-item">Charcuteri m. brød - 125,-</div>
    <div class="menu-item">Spicy Gambas al Ajillo, Argentinske rejer i chili- og hvidløgsolie - 125,-</div>
    <div class="menu_overskrift">Konserves</div>

    <div class="menu-item">Sardiner i olivenolie m. brød, aiolo & citron - 90,-</div>
    <div class="menu-item">Tunfillet i fennikel m. brød, aioli & citron - 100,-</div>
    <div class="menu-item">Østers (fredag/lørdag) - 1 stk. 35,- / 3 stk. 100,-</div>
    <div class="menu_overskrift">Snacks</div>
    <div class="menu-item">Oliven / Norcellara di Sicilia - 40,-</div>
    <div class="menu-item">Salte mandler - 40,-</div>
    <div class="menu-item">Chips, salt - 40,-</div>
  </details>
</section>
<hr />

<style>
  .menu_overskrift_2 {
    display: grid;
    place-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: 700;
    font-style: italic;
  }
  .menu_overskrift {
    display: grid;
    place-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: 700;
  }

  details {
    padding: 1em;
    max-width: 100%;
  }

  .plus {
    margin-left: auto;
    cursor: pointer;
  }
  summary {
    cursor: pointer;
    color: #3c1518;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:;
    cursor: pointer;
  }

  details[open] {
    background-color: #f7f5ea;
    font-size: 0.8rem;
  }

  .menu-item {
    margin: 0.5em 0;
  }
  .open {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
</style>
